{% extends "base.html" %} {% block content %}

<div class="page-header" id="div-tasks">
	<h1>Suas atividades cadastradas</h1>
	<hr />
	<ul class="list-group" id="tasks">
		{% for noticia in noticias %}
		<li class="list-group-item">
			<a href="{{url_for('noticia', noticia_id=noticia.id)}}">{{noticia.titulo}}</a>
		</li>
		{% endfor %}
	</ul>
	<a href="{{url_for('cadastro')}}">
		<button type="button" class="btn btn-default" aria-label="Left Align">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Cadastrar nova tarefa
		</button>
	</a>
</div>
{% endblock %}
